<h1>Tasks - new</h1>

<form name="form1" method="POST"  action="./">
    <input type="hidden"  value="api_tasks_create" name="fn" /><br />
<div id="id_input_form" style="max-width : 500px;">
	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1">title</span>
		<input type="text" name="title" maxlength="64"
		class="form-control" placeholder="" aria-describedby="basic-addon1">
	</div>
	<br />
	<div class="input-group">
            <span class="input-group-addon" id="basic-addon1">content</span>
            <input type="text" name="content" maxlength="64"
            class="form-control" placeholder="" aria-describedby="basic-addon1">
        </div>
    
	<br />
	<input type="submit" class="btn btn-primary" value="Add" /><br />
  </form>
<!-- -->
<script>

</script>
